{% extends 'base.html' %}

{% block title %} {{ super() }}Bucle FOR {% endblock %}


{% block teorhy %} 
<div class="container">
  <section class="proyectos-recientes seccion-clara d-flex flex-column text-center">
    <h2 class="seccion-titulo texto-negro">Bucles FOR</h2>
  </section>

  <section class="clases seccion-clara">
    <div class="container text-center">
      <div class="row">
        <div class="columna col-12">
          <p class="clase-titulo">¿Qué es un bucle for?</p>
          <p style="text-align:justify;">La estructura repetitiva "for" o "para" es aquella en la que el número de iteraciones se conoce por anticipado, y por ello no se precisa poner ninguna condición de salida para detener el bucle. En su lugar un contador cuenta el número de iteraciones fijas y se termina cuando llega al valor final previamente definido.  
          </p>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock %}


{% block exercises %}
 {% include 'includes/exercises.html' %}
{% endblock %}

{% block bibliography %}
<div class="container">
  <!-- Bibliografia -->
  <section class="articulos justify-content-center">
    <h2 class="seccion-titulo texto-negro">Bibliografia</h2>
    <div class="card">
      <div class="card-header">
        Links
      </div>
      <ul class="list-group list-group-flush">
        <a href="https://virtual.itca.edu.sv/Mediadores/dlp/252_la_estructura_for.html"
          target="_blank" rel="noopener noreferrer">
          <li class="list-group-item">
            La estructura FOR
          </li>
        </a>
      </ul>
    </div>
  </section>
</div>

{% endblock %}