{% extends 'base.html' %}

{% block title %} {{ super() }}Bucle MQ  {% endblock %}

{% block teorhy %}

<div class="container">
  <section class="proyectos-recientes seccion-clara d-flex flex-column text-center">
    <h2 class="seccion-titulo texto-negro">Bucles MQ</h2>
  </section>

  <section class="clases seccion-clara">
    <div class="container text-center">
      <div class="row">
        <div class="columna col-12">
          <p class="clase-titulo">¿Qué es un bucle?</p>
          <p style="text-align:justify;">Un bucle "while" o "mientras que" tiene asociado un bloque de sentencias que se ejecutarán secuencialmente mientras la condición de entrada al bucle sea cierta. La condición se evalúa al comienzo de la estructura. Esto supone que el bloque de instrucciones puede no ejecutarse ninguna vez si la condición es inicialmente falsa.    
          </p>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock %}



{% block exercises %}
  {% include 'includes/exercises.html' %}
{% endblock %}

{% block bibliography %}
<div class="container">
  <!-- Bibliografia -->
  <section class="articulos justify-content-center">
    <h2 class="seccion-titulo texto-negro">Bibliografia</h2>
    <div class="card">
      <div class="card-header">
        Links
      </div>
      <ul class="list-group list-group-flush">
        <a href="https://www2.eii.uva.es/fund_inf/cpp/temas/6_control_flujo_iterativo/while.html#:~:text=Un%20bucle%20while%20tiene%20asociado,la%20condici%C3%B3n%20es%20inicialmente%20falsa."
          target="_blank" rel="noopener noreferrer">
          <li class="list-group-item">
            Bucle While
          </li>
        </a>
      </ul>
    </div>
  </section>
</div>

{% endblock %}