{% extends 'base.html' %}

{% block title %} {{super()}}Algoritmos C++ {% endblock %}

{% block teorhy %}

<div class="container">
  <section class="proyectos-recientes seccion-clara d-flex flex-column text-center">
    <h2 class="seccion-titulo texto-negro">Algoritmos en C++</h2>
  </section>

  <section class="clases seccion-clara">
    <div class="container text-center">
      <div class="row">
        <div class="columna col-12 col-md-6">
          <p class="clase-titulo">¿Qué es un lenguaje de pogramación?</p>
          <hr>
          <p style="text-align:justify;">Un lenguaje de programación, en palabras simples, es el conjunto de instrucciones a través del cual los humanos interactúan con las computadoras. Un lenguaje de programación nos permite comunicarnos con las computadoras a través de algoritmos e instrucciones escritas en una sintaxis que la computadora entiende e interpreta en lenguaje de máquina.</p>
          <hr>
          <p style="text-align:justify;">Los lenguajes de programación permiten a las computadoras procesar de forma rápida y eficientemente grandes y complejas cantidades de información. Por ejemplo, si a una persona se le da una lista de números aleatorios que van de uno a diez mil y se le pide que los coloque en orden ascendente, es probable que tome una cantidad considerable de tiempo e incluya algunos errores, mientras que, si le das la misma instrucción a una computadora utilizando un lenguaje de programación, podrás obtener la respuesta en unos cuantos segundos y sin errores.</p>
          <hr>
          <p style="text-align:justify;">Existen docenas de lenguajes de programación utilizados en la industria hoy en día. Algunos lenguajes de programación populares incluyen C++, C#, Visual Basic, Go, Ruby, JavaScript, Java y Python, por mencionar algunos. Cuando piensas en un lenguaje de programación, tal como en la analogía que hicimos antes, puedes compararlo con los lenguajes que utilizamos para comunicarnos porque comparten muchas características similares.</p>
        </div>
        <div class="columna col-12 col-md-6">
          <p class="clase-titulo">Características del lenguaje de pogramación</p>
          <p style="text-align: justify;">Para utilizar un lenguaje de programación, de manera efectiva, debemos estudiarlo y comprenderlo desde tres perspectivas:</p>
          <ul style="text-align:justify">
            <li><strong>Sintaxis:</strong> El conjunto de símbolos y reglas para formar sentencias.</li>
            <li><strong>Semántica:</strong> Las reglas para transformar sentencias en instrucciones lógicas.</li>
            <li><strong>Pragmática:</strong> Utilizando las construcciones particulares del lenguaje.</li>
          </ul>
          <p style="text-align: justify;">En español, las letras forman palabras que forman oraciones. En los lenguajes de programación, los caracteres forman sentencias que en conjunto forman instrucciones.</p>
          <p class="clase-titulo">¿Para que sirve el lenguaje de programación?</p>
          <p style="text-align:justify">Los lenguajes de programación se utilizan para crear sistemas operativos, programas de escritorio, aplicaciones móviles, para resolver problemas o interpretar datos. Por ejemplo, existen lenguajes de programación que son más adecuados para crear software o aplicaciones de entretenimiento, para crear dispositivos inteligentes hasta crear robots utilizando inteligencia artificial, los límites de lo que se puede lograr a través de los lenguajes de programación, son desconocidos.</p>
          <p style="font-style: italic;"><strong>(Mendoza, 2020)</strong></p>
        </div>


      </div>
    </div>
  </section>

  <hr>
  <h1 style="text-align: center"> Ejercicios </h1>
  <br>
</div>

{% endblock %}

{% block exercises %}


{% include 'includes/c-exercises.html' %}

{% endblock %}

{% block bibliography %}
<div class="container">
  <!-- Bibliografia -->
  <section class="articulos justify-content-center">
    <h2 class="seccion-titulo texto-negro">Bibliografia</h2>
    <div class="card">
      <div class="card-header">
        Links
      </div>
      <ul class="list-group list-group-flush">
        <a href="https://openwebinars.net/blog/que-es-un-lenguaje-de-programacion/"
          target="_blank" rel="noopener noreferrer">
          <li class="list-group-item">
            ¿Qué es un lenguaje de pogramación?
          </li>
        </a>
      </ul>
    </div>
  </section>
</div>

{% endblock %}