
/* Estilos generales */

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 2.5rem;
    font-weight: bold;
}

.seccion-oscura {
    color: white;
    background-color: #1b1b32;
}

.seccion-clara {
    color: black;
    background-color: white;
}

.seccion-titulo {
    font-size: 2rem;
    padding: 15px;
    font-weight: bold;
}

.seccion-texto {
    font-size: 1.2rem;
}

.seccion-descripcion {
    font-size: 1.2rem;
    color: #584e4e;
}

/* navBar */

.navbar {
    padding: 1rem;
    background-color: white;
}


/* media query para ocultar logo de icono en diapositivos pequeños */

@media screen and (max-width: 767px) {
    .navbar-brand {
        display: none;
    }
}

@media screen and (min-width: 700px) {
    .hero-inferior-img {
        max-width: 600px;
    }
}

@media screen and (max-width: 600px) {
    .modal-body-img img {
        width: 90%;
    }
}


/* Seccion hero */

.hero {
    background-color: white;
    min-height: 450px;
}

.hero-principal {
    margin-top: 30px;
    padding: 3rem
}


.hero-img-cuaderno {
    width: 200px;
    height: 200px;
    margin: 10px;
    padding: 8px 18px;
    border-radius: 20%;
}

.hero-principal h2 {
    font-size: 1.2rem;
    color: #615151;
}

.hero-inferior img {
    height: 342px;
    width: 500px;
}


/* about book */

.sobre {
    height: 500px;
    padding: 10px;
}

.sobre .contenedor {
    max-width: 600px;
    text-align: center;
}


/* clases */

.clases {
    padding: 40px 40px 60px 40px;
}


.clase-titulo {
    font-size: 25px;
    font-weight: bold;
    margin: 10px 0;
}

.clases i {
    font-size: 2.5rem;
    color: white;
    background-color: #0a0a23;
    padding: 8px 18px;
    border-radius: 50%;
}

.container a {
    font-size: 15px;
    font-weight: bold;
}

.clases .columna {
    padding: 20px;
    border: 2px solid #8080804d;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transition: all 0.2s ease-in;
}

.clases .columna:hover {
    color: white;
    background-color: #1b1b32;
}

/** 2da parte **/

.proyectos-recientes {
    padding: 40px;
}


/* Articulos */

.articulos {
    min-height: 500px;
    padding: 30px;
}

.articulos .card {
    width: 80%;
    max-width: 600px;
    margin: 20px;
}

.articulos .card-header {
    font-weight: bold;
}

/* ejercicios */

.proyectos-recientes {
    padding: 40px;
}

.proyectos-recientes .img_ejercicio {
    height: 100%;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    display: block;
    border: 1px solid black;
    transition: all 0.2s ease;
}

.proyectos-contenedor {
    padding-top: 60px;
    margin-bottom: 40px;
}

.overlay {
    transition: all 0.2s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.overlay p {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 0;
}

.proyecto {
    position: relative;
}

.proyecto .img_ejercicio {
    opacity: 0.2;
}

.proyecto .overlay {
    opacity: 1;
}

.overlay .iconos-contenedor {
    display: flex;
}

.overlay i {
    color: black;
    font-size: 60px;
    margin: 10px;
}

.modal-body-img {
    display: flex;
    align-items: center;
    justify-content: center;

}

.modal-body-img img {
    border-radius: 10px;
    border: 1px solid #8080804d;
}

footer {
    height: 185px;
}



.footer-texto {
    font-size: 1.5rem;
    font-family: 'Quicksand', sans-serif;
}

.iconos-redes-sociales a {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
    border-radius: 50%;
    transition: all 0.2s ease-in;
}

.iconos-redes-sociales i {
    color: white;
    font-size: 1.5rem;
    transition: all 0.2s ease-in;
}

.iconos-redes-sociales a:hover {
    background-color: white;
    border: 2px solid rgb(13, 110, 253);
}

.iconos-redes-sociales a:hover i {
    color: black;
}

.derechos-de-autor {
    font-size: 15px;
    color: #aeaeae;
    padding: 20px 20px 0px 20px;
    margin: 0px;
}