



<div class="container">
    <!-- Ejercicios -->
{% for exercise in lista_2 %}
<div class="row d-flex justify-content-center align-items-center">
  <div class="columna col-12 col-md-8">
    <section class="columna seccion-clara">
      <br>
      <h2>{{exercise.titulo}}</h2>
      <br>
      <div style="justify-content: justify;">  
      {% for line in exercise.description %}
        <p style="font-size: 20;">{{line}}</p>
      {% endfor %}
      <p style="font-size: 14px;" class="text-danger">Para poder probar el ejercicio haga click en el boton de abajo <strong>Mostrar</strong> y click en el botón <strong>Run</strong>, en ese mismo lugar podra ver el código tan solo haga <strong>click en 'show files',</strong> y seleccione el archivo <strong>main.cpp.</strong> </p>
      </div>   
      <p>
        {% if exercise.link_replit %}
        <button class="btn btn-dark" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample{{exercise.id}}" aria-expanded="false" aria-controls="collapseExample{{exercise.id}}">
          Mostrar
        </button>
        {% else %}
        <button class="btn btn-dark" disabled type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample{{exercise.id}}" aria-expanded="false" aria-controls="collapseExample{{exercise.id}}">
          Proximamente
        </button>
        {% endif %}
      </p>


    </section>
    <div class="collapse" id="collapseExample{{exercise.id}}">
      <div class="d-flex justify-content-center align-items-center">
        <iframe frameborder="0" width="100%" height="500px" src="{{exercise.link_replit}}"></iframe>
      </div>
    </div>
    <hr>
  </div>
</div>
    
{% endfor %}
    
</div>