
<div class="container text-center">

  {% for exercise in lista_1 %}
  
    <!-- Ejercicios -->
    <section id="proyectos" class="proyectos-recientes seccion-clara d-flex flex-column">
      <h2>{{ exercise.titulo }}</h2>
      <!-- Galeria de Ejercicios -->
      <div class="container text-center proyectos-contenedor">
        <div class="row">
          <!-- Ejercicio -->
          <div class="col-12 col-md-4">
            <div class="proyecto">
              <img class="img_ejercicio" src="{{url_for('static', filename='img/generic/analisis.jpg')}}" alt="Proyecto 1">
              <div class="overlay">
                <p>Ejercicio</p>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#exerciseModal{{exercise.id}}">
                  Mostrar
                </button>
              </div>
              <!-- Modal -->
              <div class="modal fade" id="exerciseModal{{exercise.id}}" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="exampleModalLabel">{{ exercise.titulo }}</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" style="text-align: justify;">
                      {% for line in exercise.description %}
                      <p>{{line}}</p>
                      {% endfor %}
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>       
          <!-- Analisis -->
          <div class="col-12 col-md-4">
            <div class="proyecto">
              <img class="img_ejercicio" src="{{url_for('static', filename='img/generic/analisis.jpg')}}" alt="Proyecto 1">
              <div class="overlay">
                <p>Análisis</p>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#analisisModal{{exercise.id}}">
                  Mostrar
                </button>
              </div>
              <!-- Modal -->
              <div class="modal fade" id="analisisModal{{exercise.id}}" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="exampleModalLabel">Análisis</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-body-img">
                        {% if exercise.img_analisis_parte1 %}
                        <div class="d-flex flex-column">
                          <img class="img_analisis" src="{{url_for('static', filename=exercise.img_analisis_parte1)}}">                    
                          <img class="img_analisis" src="{{url_for('static', filename=exercise.img_analisis_parte2)}}">
                        </div>
                        {% else %}
                        <img class="img_analisis" src="{{url_for('static', filename=exercise.img_analisis)}}">
                        {% endif %}
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- DFD -->
          <div class="col-12 col-md-4">
            <div class="proyecto">
              <img class="img_ejercicio" src="{{url_for('static', filename='img/generic/analisis.jpg')}}" alt="Proyecto 1">
              <div class="overlay">
                <p>DFD</p>
                {% if exercise.dfd %}
                <a type="button" href="{{url_for('static', filename=exercise.dfd)}}" class="btn btn-dark" download>Descargar</a>    
                {% else %}
                <a href="#" class="btn btn-dark disabled" tabindex="-1" role="button" aria-disabled="true">Proximamente</a>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <hr>
  
  
  {% endfor %}
  
</div>

